* {
  box-sizing: border-box;
}

.tiles {
  width: calc(100% - 20px);
  margin: 10px;
  padding: 0;
  list-style: none;
}

.tiles:after {
  content: '';
  display: table;
  clear: both;
}

.tiles__tile {
  float: left;
}

@media screen and (min-width: 480px) {
  .tiles__tile {
    width: auto;
  }
}

@media screen and (min-width: 800px) {
  .tiles__tile {
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .tiles__tile {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .tiles__tile {
    width: auto;
  }
}

.tiles__tile__inner {
  position: relative;
}

.tiles__tile img {
  display: block;
  width: 100%;
}

input[type=checkbox] {
  position: absolute;
  left: -9999px;
}

input[type=checkbox]+label {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 200ms;
}

input[type=checkbox]+label:before {
  content: '';
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

input[type=checkbox]+label:after {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 25px;
  content: '';
  display: block;
  width: 6px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid white;
  border-width: 0 4px 4px 0;
  opacity: 0;
}

input[type=checkbox]:checked+label {
  background-color: rgba(255, 255, 255, 0.6);
}

input[type=checkbox]:checked+label:before {
  display: block;
  background-color: #007aff;
}

input[type=checkbox]:checked+label:after {
  opacity: 1;
}